*{
    margin:0;
    padding:0;
}

body{
    background: url('../bg.jpg');
    overflow: hidden;
}

h1{
    color: #1e1e2e;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: black;
}

.container{
    height:100vh;
    width:100vw;
    overflow-x: hidden;
}

.pageWrapper{
    position: relative;
    width:100%;
    min-height:100%;
    background: #171727;
    transition: all 300ms ease;
    transform-origin: bottom left;
}

.znet{
    position: fixed;
    right:0;
    top:10vh;
    transform: translate( -25% , -200% );
    max-width:10%;
    z-index:100;
}
.robosapien{
    position: fixed;
    right: 10%;
    top: 0;
    z-index: 100;
    background: url(https://www.robosapi.com/assets/images/logo-robosapiens.png) center center no-repeat;
    height: 8vh;
    width: 10%;
    background-size: contain;
}
@media screen and (max-device-width: 480px){
    .robosapien{
        right: 2%;
        top: 4vh;
    }
}
