@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Asap:700);

*{
  @include box-sizing(border-box);
}

.name{
  font-family: "Asap";
  color: white;
  font-size: 4rem;
  font-weight: 700;
  opacity: 0.0;
  position: absolute;
  left: 30%;
  @include transition(all 300ms ease-out 0ms);
}

.marvel-icons{
  position: absolute;
  height: 100vh !important;
  width: 100%;
  top: 0;
  left: 0;
  background: url('http://p1.pichost.me/i/36/1587720.jpg');
  background-size: cover;
  background-position: center center;
}

.icon-list{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  
  li{
    float: left;
    width: 25%;
    overflow: hidden;
    cursor: pointer;
    padding: 5px;
    opacity: 0.0;
    z-index: 1;
    @include transition(all 600ms ease-out);
    
    &.shown{
      opacity: 1.0;
    }
    
    &.active{
      width: 100%;
      top: 20px !important;
      left: 0px !important;
      z-index: 100;
      
      img{
        width: 25%;
      }
      
      .name{
        opacity: 1.0;
        top: 10%;
        @include transition(all 300ms ease-out 500ms);
      }
    }
    
    &.inactive{
      @include translate3d(0px, 230px, 0px);  
      opacity: .8;
      
      &:hover{
        opacity: 1.0;
      }
    }
    
    img{
      border-radius: 50%;
      width: 100%;
      height: auto;
      padding: 10px;
      background-color: white;
      @include transition(all 600ms ease-out);
    }
  }
}