
body {
overflow:hidden;
}
.main-logo {
	position: absolute !important;
	top: 8%;
	display: block;
	margin: auto;
	height:55vh;
	width:50vw;
	background: url('../images/main-logo.png');
	background-size: contain;
	background-repeat: no-repeat;

    left: 0;
    right: 0;

    margin: auto;
}
.main-content {
	position: absolute !important;
	top: 40%;
	display: block;
	margin-left: 5vw;
	height:40vh;
	width:90vw;
	background: url('../images/taj-upper.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#kite-large {
	position: absolute !important;
	top: 22%;
	left:70%;
	display: block;
	margin-left: 5vw;
	height:45vh;
	z-index: -1;
	width:25vw;
	background: url('../images/kite-large.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#boat-main {
	position: absolute !important;
	top: 70%;
	left:0%;
	display: block;
	margin-left: 5vw;
	height:20vh;
	z-index: 100;
	opacity:0.9;
	width:12vw;
	background: url('../images/boat-main.png');
	background-size: contain;
	background-repeat: no-repeat;
	animation: boat1 50s linear infinite;
	-webkit-perspective: 1500px; /* Chrome, Safari, Opera  */
    perspective: 1500px;

}

.ripple-wrap {
	/*position: relative;*/
}

.ripple-wrap canvas {
	position: absolute;
	z-index: 1;
	height:50vh;
	background-size: contain;
}

.ripple-image {
	/*width: 90vw;*/
	height:70vh;
	/*object-fit: contain;*/
	margin-left: 5vw;
}

/**kite
*
*/
.kite {
	animation:dash 8s ease-in-out infinite; transform-origin: 60% bottom;
}
@keyframes dash {
25% {
    transform:rotate(5deg);
}
 
75% {
    transform:rotate(-5deg);
}
}

/**boat
*
*/
.boat {

}
@keyframes boat1 {
  0% {
     -moz-transform:  translateX(0) scaleX(-1);
        -o-transform:  translateX(0) scaleX(-1);
        -webkit-transform:  translateX(0) scaleX(-1);
        transform: translateX(0) scaleX(-1);
  }
  50% {
    transform: translateX(90vw);
     -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: translateX(90vw) scaleX(-1);
  }
  51% {
        transform: scaleX(1) translateX(90vw);

  }
  100%{

    transform: scaleX(1) translateX(0vw);

  }
}