
.main-content {
	position: absolute !important;
	top: 40%;
	display: block;
	margin-left: 5vw;
	height:40vh;
	width:90vw;
	background: url('../images/taj-upper.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.ripple-wrap {
	position: relative;
}

.ripple-wrap canvas {
	position: absolute;
	z-index: 1;
}

.ripple-image {
	height:40vh;
	width: 90vw;
	margin-left: 5vw;
}