
.generic-loader {
	position:fixed;
	top:45%!important;
	left:45%!important;
	width:10vw;
}

body,html {
	overflow:hidden;
	margin-left:0;
	margin-right:0;
	margin:0;
	padding:0;

}
iframe, object, embed {
    max-width: 100%;
}
#closebt-container {
	position: relative;
	top:5px;
	width:99%;
	text-align: right;
	margin-top:0%;
	margin-bottom:-10%;
	/*margin-right:10%;*/
}

.closebt {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor:pointer;
	width:10vh;

}

.closebt:hover {
	transform:rotate(90deg);
}
.content {
	overflow: hidden!important;
	visibility: hidden;
	overflow:hidden;
	background: url('../images/background-2.png');
	background-size:cover;
	background-repeat: no-repeat;
	margin-left:0;
	margin-right:0;
	z-index:0;
}
.blurred {
	-webkit-filter:blur(10px);
	filter:blur(10px);
}
/*#plane {
	z-index:-1;
}*/
.main-logo {
	position: absolute !important;
	top: 8%;
	display: block;
	margin: auto;
	height:20vh;
	width:50%;
	background: url('../images/main-logo.png');
	background-size: contain;
	background-repeat: no-repeat;

    left: 0;
    right: 0;

    margin: auto;
}
.main-content {
	position: absolute !important;
	top: 40%;
	display: block;
	margin-left: 5vw;
	height:auto;
	width:90vw;
/*	background: url('../images/taj-upper.png');
	background-size: contain;
	background-repeat: no-repeat;*/
}

.multicity {
width:8vw;
height:auto;
position:fixed;
top:2%;
right:0;
 -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
   -webkit-transition: width 0.6s, height 1.2s, background-color 1.2s, -webkit-transform 1.2s;
    transition: width 0.6s, height 1.2s, background-color 1.2s, transform 1.2s;
}
.multicity:hover, .register:hover {
	width:10vw;
}
.register {
width:8vw;
height:auto;
position:fixed;
top:2%;
right:0;
 -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
   -webkit-transition: width 0.6s, height 1.2s, background-color 1.2s, -webkit-transform 1.2s;
    transition: width 0.6s, height 1.2s, background-color 1.2s, transform 1.2s;
}
.firki{
	width:6vw;
height:auto;
position:fixed;
top:2%;
left:0;
 -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
   -webkit-transition: width 0.6s, height 1.2s, background-color 1.2s, -webkit-transform 1.2s;
    transition: width 0.6s, height 1.2s, background-color 1.2s, transform 2s;
}
.firki:hover {
	-webkit-animation:;
	transform: rotate(720deg);
}

#kite-large {
	position: absolute !important;
	top: 22%;
	left:70%;
	display: block;
	margin-left: 5vw;
	height:45vh;
	width:20vw;
	background: url('../images/kite-large-2.png');
	background-size: contain;
	background-repeat: no-repeat;
	 -webkit-transition: width 1.2s, height 1.2s, background-color 1.2s, -webkit-transform 1.2s;
    transition: width 1.2s, height 1.2s, background-color 1.2s, transform 1.2s;
}
#kite-large:hover {
	height:50vh;
}
#boat-main {
	position: absolute !important;
	top: 65%;
	right:0%;
	display: block;
	margin-left: 5vw;
	height:20vh;
	z-index: 100;
	opacity:0.9;
	width:16vw;
	background: url('../images/boat-text-team.png');
	background-size: contain;
	background-repeat: no-repeat;
	animation: boat1 50s linear infinite ;
	-webkit-perspective: 1500px; /* Chrome, Safari, Opera  */
    perspective: 1500px;

}
#balloon2 {
	position: absolute !important;
	top: 25%;
	right:30%;
	display: block;
	margin-left: 5vw;
	height:16vh;
	z-index:0;
	opacity:0.9;
	width:14vh;
	background: url('../images/balloon-2-text.png');
	background-size: contain;
	background-repeat: no-repeat;
	animation: float 6s ease-in-out infinite;


}

.ripple-wrap {
	position: absolute;
	background-color:white;

}

.ripple-wrap canvas {
	position: absolute;
	z-index: 1;
	/*height:50vh;*/
	background-size: contain;
}

.ripple-image {
/*	width: 50%;
	height:30vh;
*/	display: none;
}

/**kite
*
*/
.kite {
	animation:dash 8s ease-in-out infinite; transform-origin: 60% bottom;
}
@keyframes dash {
25% {
    transform:rotate(5deg);
}
 
75% {
    transform:rotate(-5deg);
}
}

/**boat
*
*/
.boat {

}
@keyframes boat1 {
  0% {
     -moz-transform:  translateX(0);
        -o-transform:  translateX(0) ;
        -webkit-transform:  translateX(0) ;
        transform: translateX(0);
  }
  
  100%{

    transform: translateX(-80vw);

  }
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}